<html>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Meow as a Service</h1>
        <p>Because everything gets better with a meow</p>
      </div>
      <div class="row">
        <div class="col-md-5">
          <h3>What is it?</h3>
          <p>MaaS or Meow as a Service is a on-demand service dedicated to bring you meow in whatever form or in whatever device you might require it in</p>
          <p>Just try it :</p>
          <p><code>meowasaservice.com/meow?repeat=43&emotion=neutral</code></p>
          <p><code>meowasaservice.com/meow?repeat=2&emotion=angry</code></p>
          <p>As a certain gladiator might put it: "Are you not ameowsed yet?"</p>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <img class="img-responsive" src="<%= asset_path('kitten.jpg') %>"/>
        </div>
      </div>
    </div>
  </body>
</html>
